/*
COLOR PALETTE - https://www.color-hex.com/color-palette/1021793
*/
.background {
    background-color: #6a747c ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 5%;
    width: 50%;
    background-color:  	#85919b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
}

.container > img {
    width: 100%;
    height: 90%;
    background-color: red ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.info-container {
    font-family: Helvetica, sans-serif;
    width: 80%;
    text-align: center;
}

.name{
    font-size: 2em;
    color: white;
}
.prof{
    color: burlywood;
    font-size: 1.25em;
}
.info-container > h3{
    color: white;
    font-size: .75em;
}

.btn-container {
    width: 100%;
    height: 40px;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin: 0 5%;
    width: 40%;
    height: 100%;
    border-radius: 10px;
   
    outline:black;
}

.email-btn {
    background: white;
}

.LinkedIn-btn {
    background: white;
}